<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Abir Chakraborty -web developer</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
  <span class="homenav"><a href="/"><img class="home" src="home.png" alt="" width="45px" ></a></span>
  <div class="container">
    <div class="sidebar sidebarGo">
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
                    <li><a href="/templates/intro.html">My Intro</a></li>
                    <li><a href="/templates/services.html">Projects</a></li>
                    <li><a href="/templates/blog.html">Blog</a></li>
                    <li><a href="/templates/contacts.html">Contact Me</a></li>
                    
        </ul>
      </nav>
    </div>
    <div class="main">
      <div class="hamburger">
        <img class="ham" src="ham.png" alt="" width="77px">
        <img class="cross" src="cross2.png" alt="" width="45px">
          
      </div>
      <div class="contactform">
        <h1>Contact Me for Work/General Enquiry.</h1>
        <form>
          <div class="mb-3">
            <label for="clientemail" class="form-label">Enter your Name</label>
            <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="clientemail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email & phone with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="clientphone" class="form-label">Phone</label>
            <input type="phone" class="form-control" id="clientphone">
          </div>
          <div class="mb-3">
            <label for="clientemail" class="form-label">Enter Enquiry</label>
            <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3" id="form-check">
            <input type="checkbox" class="form-check-input" id="isclient">
            <label class="form-check-label" for="isclient">I want you to work on a project with me.</label>
          </div>
          <button type="submit" class="btn btn-sm">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <script src="/scripts/script.js"></script>
</body>

</html>