<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abir Chakraborty - Web Developer</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

    <div class="container">
        <div class="sidebar sidebarGo">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="/templates/intro.html">My Intro</a></li>
                    <li><a href="/templates/services.html">Projects</a></li>
                    <li><a href="/templates/blog.html">Blog</a></li>
                    <li><a href="/templates/contacts.html">Contact Me</a></li>
                    
                </ul>
            </nav>
        </div>

        <div class="main">
            <div class="hamburger">
                <img class="ham" src="/assets/images/ham.png" alt="" width="77px">
                <img class="cross" src="/assets/images/cross2.png" alt="" width="45px">
            </div>
            <div class="devinfo" style="margin: 85px;">
                <span class="hello">My Projects:-</span></div>
            <div class="card card1">
                <h5></h5>
            </div>
            <div class="card card2">
                <h5></h5>
            </div>
            </div>
        </div>
        <script src="/scripts/script.js"></script>
</body>

</html>